<h1>Beskeder</h1>
<ul>
    <li>
        <button type="button">
            <span class="badge">3</span>
            <span class="name">Michael</span>
        </button>
    </li>
    <li>
        <button type="button">
            <span class="name">Camilla</span>
        </button>
    </li>
    <li>
        <button type="button">
            <span class="badge">9</span>
            <span class="name">Sandra</span>
        </button>
    </li>
    <li>
        <button type="button">
            <span class="name">Sanchez</span>
        </button>
    </li>
</ul>