<h1>Home works!</h1>

<h2>Dine fetches:</h2>
<h4>Øl til lejren</h4>
<p class="content">
    <b>Din rolle:</b> Sender <br>
    <b>Status:</b> Aport sendt!<br>
    <b>Fetcher:</b> (Ingen) <br>
    <b>Lokation:</b> Det blå telt. - <a [routerLink]="'../map'">Se kort</a> - <a [routerLink]="'../map'">Ændr</a> <br>
</p>

<hr>

<h4>Pizza til H4</h4>
    <p class="content">
        <b>Din rolle:</b> Fetcher <br>
        <b>Status:</b> Afhentet<br>
        Klik <u>her</u> for at opdatere!
        <b>Fetcher:</b> Dig <br>
        <b>Sitter:</b> Frederik <br>
        <b>Lokation:</b> H4 - <a [routerLink]="'map'">Se kort</a> <br>
    </p>